<template name="header">
<div class="navbar  navbar-default navbar-fixed-top" style="z-index: 9999999999;">
<div class="navbar-inner col-lg-12  col-md-12" style="margin: 0px">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand" href="{{pathFor 'dashboard'}}">
        <img src="/img/logo.svg" style="max-width: 120px;">
    </a>
  </div>

  <div class="navbar-collapse collapse">
  <ul class="nav navbar-nav pull-right">
            {{> accountButtons}}
         </ul>
  
<!--{{#if currentUser}}-->
    <!--<ul class="nav navbar-nav">-->
    <!--<li> <a href="{{pathFor 'dashboard'}}"><i class="fa fa-globe"></i> Dashboard</a></li> -->

    <!--</ul>-->
<!--{{/if}}-->

    <!--<form class="navbar-form navbar-left">
      <input type="text" class="form-control col-lg-8" placeholder="Search">
    </form> --> 

      
  </div>
</div>
</div>

</template>


