<template name="sidebar">
    {{#if currentUser}}
    <ul class="sidebar">
        <a href="{{pathFor 'account'}}"><li class="sidebar-brand"><img src="/img/account_icon.svg">Welcome Eric</li></a>
        <a href="{{pathFor 'dashboard'}}"><li><img src="/img/dash_icon.svg">Dashboard</li></a>
        <a href="{{pathFor 'apps'}}"><li><img src="/img/apps_icon.svg">My Apps</li></a>
        <a href="{{pathFor 'stats'}}"><li><img src="/img/stats_icon.svg">App Stats</li></a>
        <a href="{{pathFor 'themes'}}"><li><img src="/img/theme_icon.svg">Themes</li></a>
    </ul>
    <style>
        #main {
            padding-left: 260px;
        }
    </style>
    {{/if}}
</template>


