<template name="sidebar">
    {{#if currentUser}}
    <ul class="sidebar">
        <a href="{{pathFor 'account'}}"><li class="sidebar-brand">Welcome Eric!</li></a>
        <a href="{{pathFor 'dashboard'}}"><li>Dashboard</li></a>
        <a href="{{pathFor 'apps'}}"><li>My Apps</li></a>
        <a href="{{pathFor 'stats'}}"><li>App Stats</li></a>
        <a href="{{pathFor 'themes'}}"><li>Themes</li></a>
    </ul>
    <style>
        #main {
            padding-left: 260px;
        }
    </style>
    {{/if}}
</template>


