
  /* line 32, ../sass/style.scss */
  .navbar .navbar-inner {
    -webkit-border-radius: 0px 0px 3px 3px;
    -moz-border-radius: 0px 0px 3px 3px;
    -ms-border-radius: 0px 0px 3px 3px;
    -o-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px; }

#spinner {
  height: 300px; }

.cover-heading {
    color: white;
}

.form-text{
  text-align: left;
}

.title-modal{
  display:block;
  text-align: center;
}

.modal-input{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.list-title a:hover {
  text-decoration: none;
  cursor: pointer;

}
.top_link{
    padding-top: 27px !important;
    padding-bottom: 30px !important;
    padding-left: 20px !important;
}
.top_link i{
    font-size: 22px;
    padding: 0px 10px;
}
.navbar-collapse .pull-right a{
    padding-top: 27px !important;
    padding-bottom: 30px !important;
}

.navbar-collapse .pull-right p{
    padding-top: 27px !important;
    padding-bottom: 30px !important;
    margin: 0px;
    padding-right: 30px;
}
.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #F4FAFF;
}

.btn-add {
    background-color: rgba(255, 255, 255, 0.08);
    position: absolute;
    top: 0;
    right: 0;
    height: 80px;
    padding-top: 25px;
}
.btn-add i{
    font-size: 31px;
    color: rgba(233, 232, 211, 0.59);
}

.lib-panel {
    margin-bottom: 20Px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.lead-success{
  color: #43ac6a;
}



/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background: rgb(243, 243, 243);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    position: absolute;
    right: 0px;
    background-size: cover;
    background-position: center;
    background-image: url('http://www.travisshoots.com/wp-content/uploads/2013/01/IMG_6114.jpg')
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}
.masthead-brand img {
    margin: 24px 25px 21px -23px;
    width: 150px;
}

.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;

}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
}

.edit-form{
  min-width:80%; 
}


/*vendors list CSS*/
#vendors .image-frame {
    height: 318px;
    background-size: cover;
    background-position: center;
    padding: 0px;
}
#vendors .list-table-item {
    border: 1px solid rgb(192, 192, 192);
    background-color: white;
    margin: 25px 5px 35px 5px;

}
#vendors .image-frame h3 {
    color: white;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.9))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#85000000',GradientType=0 ); /* IE6-9 */
    height: 100%;
    padding-top: 229px;
    text-align: center;
    margin-top: 0px;
    text-decoration: none !important;
    -webkit-transition:  .4s ;
    -moz-transition:  .4s ;
    -o-transition:  .4s ;
    transition: .4s ;

}
#vendors .image-frame a{
    text-decoration: none;
}


#vendors .btn-outline {
    background-color: transparent;
    color: green;
    font-weight: 400;
    border: 2px solid green;
    border-radius: 3px;
}
#vendors .white {
    font-size: 15px;
    margin: 19px 0px;
}
.white i{
    padding: 10px;
    color: rgba(0, 0, 0, 0.65);
}
#vendors .vendor_stat h1,
#vendors .vendor_stat h4{
    text-align: center;
    text-align: center;
    font-weight: 300;
    font-family: helvetica neue;
    text-transform: uppercase;
    font-size: 17px;
}
#vendors .big_number {
    font-weight: 400 !important;
    font-size: 32px !important;
    margin-bottom: 0px;
    font-family: 'Josefin Sans', sans-serif !important;
}
#vendors .vendor_rating {
    font-size: 25px;
    color: rgb(158, 158, 158);
    font-family: 'Josefin Sans', sans-serif;
}
#vendors .btn-booking {

    border-radius: 50px;
    padding: 12px 0px;
    width: 100%;
    font-size: 17px;
    font-weight: 100;
}
  .btn {
      border-width: 0 1px 2px 1px;
  }

  #vendors .add_vendor {
      width: 100%;
      background: transparent;
      border: 2px solid green;
      color: green;
      padding: 20px;
  }

  h4, .h4, h5, .h5, h6, .h6 {
      font-family: 'Josefin Sans', sans-serif;
  }

  .btn:hover {
      margin-top: 0px;
  }

  .sorting_filters .search-input {
      border-radius: 50px;
      outline: none;
      padding: 9px 37px;
  }
  .sorting_filters .search_cont {
      text-align: right;
      padding: 10px 35px;
  }
  .page-heading {
      text-align: center;
      text-transform: uppercase;
      font-weight: 100;
      font-size: 36px;
      margin-bottom: 75px;
      margin-top: 60px;
  }
  .fouc {
      opacity: 0;
      transition:.5s;

  }

  /*SELECT UI*/
  #select-dropdown {
      color:rgba(50,50,50,1);
      width:250px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor:pointer;
      position: relative;
      left: 12px;
  }
  #vendors .select {
      background-color:#fff;
      text-align:center;
      text-transform:uppercase;
      line-height:40px;
      height:40px;
      border-bottom:1px solid rgba(230,230,230,1);
      -webkit-transition:top 0.2s, -webkit-transform 0.2s, color 0.2s, background-color 0.2s;
      width:230px;
      margin:auto;
      box-shadow:0px 0px 2px rgba(0,0,0,0.1);

      position:absolute;
      left:50%;
      margin-left:-115px;
  }
  .select:last-child {
      border-bottom:none;
  }
  .open .option:hover {
      background-color: #0AA83C;
      color:#fff;
  }
  .default {
      -webkit-transform-style: preserve-3d;
      -webkit-backface-visibility:hidden;
      -webkit-transform-origin:50% 0%;
      -webkit-transition:transform 0.3s;
      -webkit-transform: perspective( 600px ) rotateX( 0deg );
      z-index:1000;
  }
  .default:active {
      -webkit-transform: perspective( 600px ) rotateX( 45deg );
      -webkit-perspective:600px;
  }
  .no-overflow{
      overflow: hidden;
  }
  .form-group input,
  .form-group textarea{
      height: 50px;
      margin: 5px 0px;
      border-radius: 0px;
      font-size: 18px;
  }
  #signature{
      border: 2px dashed rgb(179, 177, 177);
      margin-bottom: 45px;
  }
.hide-error{
  background-color: #D1251B;
  text-decoration: none !important;
  position: absolute;
  top: 15px;
  right: 10px;
}
.hide-error:hover{
  background-color: #D1251B;
  border-bottom-color: #E33E34;
}
.clear-signature{
  margin: 5px;
}
.clear-signature:hover{
  margin: 5px;
}
.service-item{
    height: 150px;
}
.service-item {
    background: rgb(226, 226, 226);
}
.service-item .btn-booking{
    border: 2px solid rgb(27, 180, 167);
    background-color: rgba(255, 255, 255, 0);
    color: rgb(27, 180, 167);
    padding: 19px;
    width: 100%;
    margin: 42px 0px;
    font-size: 17px;
    font-weight: 300;
    font-family: helvetica neue;
}
.service-item .col-md-3 {
      padding: 0px;
  }
.service-item:nth-child(even) {
      background: rgb(243, 243, 243) !important;
}

.service_icon {
    height: 150px;
    width: 150px;
    background: rgb(27, 180, 167);
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
}
.service_icon svg {
    height:100px;
    width: 100px;
    margin:25px;
}
.service-item:nth-child(odd) .service_icon svg,
.service-item:nth-child(odd) .service_icon path,
.service-item:nth-child(odd) .service_icon circle{
    fill: rgb(34, 234, 221);
}
  .service-item:nth-child(even) .service_icon svg,
  .service-item:nth-child(even) .service_icon path,
  .service-item:nth-child(even) .service_icon circle{
      fill: rgb(36, 239, 226);
  }

.service-item:nth-child(even) .service_icon {
     background: rgb(23, 157, 148);
}

.service-tbl-title {
    font-size: 30px;
    font-weight: 100;
    padding: 55px 10px;
    text-align: left;
    margin: 0px;
}
#stars-existing {
    font-size: 25px;
    color: rgb(218, 196, 80);
    pointer-events: none;
}
.navbar-default .navbar-nav > li > a {
    color: rgb(31, 211, 196);
    font-size: 15px;
    padding: 33px 18px !important;
    font-weight: 200;
    font-family: helvetica neue;
    text-transform: uppercase;
}
  .btn-success {
      color: #ffffff;
      background-color: rgb(27, 180, 167);
       border: 0px
  }
  .btn-success:hover {
      color: #ffffff;
      background-color: rgb(20, 124, 113);
      border: 0px
  }

  #vendor-prof .image-frame h3 {
      color: white;
      background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.21) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.21))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.21) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.21) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.21) 100%); /* IE10+ */
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.21) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#85000000',GradientType=0 ); /* IE6-9 */
      height: 100%;
      padding-top: 240px;
      text-align: center;
      margin-top: 0px;
      font-family: helvetica neue;
      font-weight: 200;
      font-size: 31px;
  }


  div.svg div.rateit-range {
      background: url('/img/star_empty.svg') /*star-normal.svg*/;

      background-size: contain;
  }

  div.svg div.rateit-selected {
      background: url('/img/star_full.svg') /*star-normal.svg*/;

      background-size: contain;
  }
  div.svg div.rateit-preset {
      background: url('https://d30y9cdsu7xlg0.cloudfront.net/svg/429.svg?Expires=1409876261&Signature=VGZpW~0~EBhzbvdTsEjB0wq3wwet2x7RgoutLAoqpWltrCglT7osZYqfuO8Qdsed5cz2f9bh4OI95ijeOdfjB9N6UM3qv73aeNTABsRXQsRsG35XHbpZwPVhCDIs-bULYp4P~By~rMAYB9tV~O5~Iu2u853k7xVbkcXFtPk~ARM_&Key-Pair-Id=APKAI5ZVHAXN65CHVU2Q') /*star-normal.svg*/;

      background-size: contain;
  }

  .rateit button {
      display: none !important;
  }
  .rateit {
        pointer-events:none;
  }
  .rateit-range {

  }
  .avail {
        float: right;
  }
  .avail img {
      width: 55px;
      opacity: .2;
      margin-top: 3px;

  }

  .avail .time-slot {
     display: none;
      width: 60px;
      float: left;
  }
  .morning .time-slot:nth-child(1) {
        display: block !important;
  }
  .daytime .time-slot:nth-child(2) {
      display: block !important;
  }
  .evening .time-slot:nth-child(3) {
      display: block !important;
  }


  .hint { position: relative; display: inline-block; }

  .hint:before, .hint:after {
      position: absolute;
      opacity: 0;
      z-index: 1000000;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      pointer-events: none;
  }


  .hint:hover:before, .hint:hover:after {
      opacity: 1;
  }

  .hint:before {
      content: '';
      position: absolute;
      background: transparent;
      border: 6px solid transparent;
      position: absolute;
  }

  .hint:after {
      content: attr(data-hint);
      background: rgba(0, 0, 0, 1);
      color: white;
      padding: 8px 10px;
      font-size: 12px;
      white-space: nowrap;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  }


  /* top */

  .hint--top:before {
      bottom: 100%;
      left: 50%;
      margin: 0 0 -18px 0;
      border-top-color: rgba(0, 0, 0, 1);
  }

  .hint--top:after {
      bottom: 100%;
      left: 50%;
      margin: 0 0 -6px -10px;
  }

  .hint--top:hover:before {
      margin-bottom: -10px;
  }

  .hint--top:hover:after {
      margin-bottom: 2px;
  }

  /* default: bottom */

  .hint--bottom:before {
      top: 100%;
      left: 50%;
      margin: -14px 0 0 0;
      border-bottom-color: rgba(0, 0, 0, 1);
  }

  .hint--bottom:after {
      top: 100%;
      left: 50%;
      margin: -2px 0 0 -10px;
  }

  .hint--bottom:hover:before {
      margin-top: -6px;
  }

  .hint--bottom:hover:after {
      margin-top: 6px;
  }

  /* right */

  .hint--right:before {
      left: 100%;
      bottom: 50%;
      margin: 0 0 -4px -8px;
      border-right-color: rgba(0,0,0,1);
  }

  .hint--right:after {
      left: 100%;
      bottom: 50%;
      margin: 0 0 -13px 4px;
  }

  .hint--right:hover:before {
      margin: 0 0 -4px -0;
  }

  .hint--right:hover:after {
      margin: 0 0 -13px 12px;
  }

  /* left */

  .hint--left:before {
      right: 100%;
      bottom: 50%;
      margin: 0 -8px -4px 0;
      border-left-color: rgba(0,0,0,1);
  }

  .hint--left:after {
      right: 100%;
      bottom: 50%;
      margin: 0 4px -13px 0;
  }

  .hint--left:hover:before {
      margin: 0 0 -4px 0;
  }

  .hint--left:hover:after {
      margin: 0 12px -13px 0;
  }
  .booking-form  h2 {
      font-size: 27px;
      font-weight: 100;
      color: rgb(0, 138, 132);

  }

  .login {
      margin: 20px auto;
      width: 300px;
  }
  .login-screen {
      background-color: #FFF;
      padding: 20px;
      border-radius: 5px
  }

  .app-title {
      text-align: center;
      color: #777;
  }

  .login-form {
      text-align: center;
  }
  .control-group {
      margin-bottom: 10px;
  }

  .login input {
      text-align: center;
      background-color: #ECF0F1;
      border: 2px solid transparent;
      border-radius: 3px;
      font-size: 16px;
      font-weight: 200;
      padding: 10px 0;
      width: 250px;
      transition: border .5s;
  }

  .login input:focus {
      border: 2px solid #3498DB;
      box-shadow: none;
  }

  .login .btn {
      border: 2px solid transparent;
      background: #3498DB;
      color: #ffffff;
      font-size: 16px;
      line-height: 25px;
      padding: 10px 0;
      text-decoration: none;
      text-shadow: none;
      border-radius: 3px;
      box-shadow: none;
      transition: 0.25s;
      display: block;
      width: 250px;
      margin: 0 auto;
  }


  .login-link {
      font-size: 12px;
      color: #444;
      display: block;
      margin-top: 12px;
  }
  .credit_card_box {
      border: 1px solid rgb(197, 197, 197);
      border-radius: 12px;
      padding: 12px 37px 45px 37px;
      background: white;
      margin-bottom: 40px;
      margin-top: 38px;
  }
video {
    width: 100%;
    height: auto;
}

