body {
    padding-top: 70px;
    background: rgb(249, 249, 249);
}
h1{
    font-size: 28px;
    font-weight: 100;
    text-transform: uppercase;
}
.app-cont{
    background: rgb(255, 255, 255);
    border: 1px solid rgb(224, 224, 224);
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 2px;
}
.app-cont.empty{
    background: rgb(255, 255, 255);
    border: 1px dashed rgb(210, 210, 210);
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 2px;
    cursor: pointer;
}
.app-cont .number{
    font-size: 34px;
    font-weight: 100;
    color: rgb(60, 96, 136);
}
.app-cont .number-label{
    font-size: 14px;
    color: rgb(52, 52, 52);
}
.app-cont .app-screenshot {
    width: 130px;
    border: 1px solid rgb(236, 236, 236);
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;
}

#page-content-wrapper {
    padding: 20px;
}

.sidebar {
    list-style-type:none;
    background-color: #3E466C;
    width: 230px;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    position: fixed;
    margin: 0;
    padding: 0;
    list-style: none;
    transition:1s ease;
    padding-top: 100px;
}

.sidebar a {
    text-decoration:none;
    color:white;
    transition:1s ease;
}

.sidebar li {
    text-indent: 20px;
    line-height: 54px;
    transition: 0.5s ease;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 100;
}

.sidebar li:hover {
    background-color:#777;
    cursor:pointer;
    text-indent: 30px;
}
.sidebar li img {
    width: 26px;
    margin: 16px;
    opacity: 0.5;
    margin-left: 10px;
}
.sidebar > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
.navbar {
    border: 1px solid rgb(237, 237, 237);
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 70px;
}
.app-icon {
    float: none;
    width: 80px;
    border-radius: 17px;
    display: inline-block;
    border: 1px solid rgb(223, 223, 223);
}
.app-title{
    font-size: 24px;
    font-weight: 100;
    display: inline-block;
    margin-top: 25px;
    padding-left: 25px;
    vertical-align: top;
}
.create-app {
    font-size: 16px;
    text-align: center;
    color: rgb(160, 210, 211);
    margin: 0px;
}
.empty:hover {
    background: rgb(249, 249, 249);
}
#themes .col-md-6{
    background: grey;
    height:200px
}
