<template name= 'apps'>
<div class="row" style=" margin-bottom: 10px; margin-top: 21px;">
    <h1 class="pull-left" style="max-width: 50%;">My Apps</h1>

</div>
    <a href="#">
        <div class=" row app-cont empty">
            <div class="col-md-12">
                <h3 class="create-app">ADD NEW APP</h3>
            </div>
        </div>
    </a>
{{#each stuffs}}
    <div class=" row app-cont">
        <div class="col-md-8">
            <img class="app-icon" src="img/icon.png">
            <h3 class="app-title">{{title}}</h3>
            <!--<h4>{{description}}</h4>-->
            <!--<h4>{{status}}</h4>-->
            <!--<a class="submit btn btn-block btn-default" style="width: 150px" href="{{last_build}}">BETA TEST</a>-->
        </div>
        <div class="col-md-4">
            <img class="app-screenshot" src="{{img_url}}">
        </div>
    </div>
{{/each}}
</template>